.form{
    padding: 50px 150px;
}
label{
    font-weight: bold;
    font-size: 25px;
}
button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
}
#mid{
    display: none;
}
#mid img{
    width: 100%;
    height: 600px;
    
}
@media  screen and (max-width:500px) {
    .form{
        padding: 10px 15px;
    }
}